*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
    letter-spacing: 1px;
    color:#333;
}

body{
    background-color: #EEE;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 40px;
    font-size: min(10vw,4rem);
    letter-spacing: 3px;
}

main {
    display: grid;
    grid-template-columns: repeat(3, minMax(100px, 150px));
    grid-template-rows: repeat(3, clamp(50px, 30vw, 150px));
    gap: 10px;
    margin: 40px;
    background-color: #333;
    animation: fadeIn 1s ease-in-out;
}

.board-tile{
    display: grid;
    cursor: pointer;
    place-items: center;
    width: 100%;
    height: 100%;
    font-size: max(6rem, 7vw);
    font-weight: bold;
    background-color: #EEE;
}

.board-tile:not(.selected):hover{
    background-color: rgb(114, 240, 103);
}

.play-button{
    padding: 12px 20px;
    border-radius: 3px;
    border: none;
    background-color: rgb(40, 216, 69);
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px #777;
    transition: all 200ms ease-in-out;
}

.replay-button{
    display: flex;
    cursor: pointer;
    padding: 12px 20px;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.symbol {
    font-size: 2rem;
}
.game-info{
    margin-bottom: 20px;
    font-size: 2rem;
}

.play-button:hover{
    transform: scale(1.1);
}

.hidden{
    display: none;
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }